# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

bin

sen5x_i2c.c
sensirion_common.c 
sensirion_config.h 
sensirion_i2c.h 
sensirion_i2c_hal.h 
sen5x_i2c.h 
sensirion_common.h 
sensirion_i2c.c 
sensirion_i2c_hal.c